[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
numpy = "*"
jupyter = "*"
"beautifulsoup4" = "*"
nltk = "*"
sklearn = "*"
lightgbm = "*"
scikit-optimize = "*"
xgboost = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
wordcloud = "*"

[requires]
python_version = "3.6"
